.section-2 {
  width: 994px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-2__section-2-list {
  display: flex;
  list-style-type: none;
}

.section-2__list-item:hover {
  position: relative;
  margin-top: -40px;
  transform: scale(1.2);
}
